MARKET_SENTINEL_MODE=disabled
MARKET_SENTINEL_ACCOUNT_ID=paper-local
MARKET_SENTINEL_ACCOUNT_ALLOWLIST=paper-local
INDIA_LIVE_TRADING_ENABLED=false
INDIA_ALGO_COMPLIANCE_VERIFIED=false
GROWW_ALGO_ID=
GROWW_ACCESS_TOKEN=
GROWW_REAL_API_ENABLED=false
ALPACA_PAPER_TRADING_ENABLED=true
ALPACA_LIVE_TRADING_ENABLED=false
ALPACA_REAL_API_ENABLED=false
ALPACA_KEY_ID=
ALPACA_SECRET_KEY=
ALPACA_ACCOUNT_ID=
TWILIO_ALERTS_ENABLED=false
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM=
TWILIO_MESSAGING_SERVICE_SID=
TWILIO_STATUS_CALLBACK_URL=
TWILIO_TO=
