MARKET_SENTINEL_MODE=disabled
MARKET_SENTINEL_ACCOUNT_ID=paper-local
MARKET_SENTINEL_ACCOUNT_ALLOWLIST=paper-local
INDIA_LIVE_TRADING_ENABLED=false
INDIA_ALGO_COMPLIANCE_VERIFIED=false
GROWW_ALGO_ID=
GROWW_ACCESS_TOKEN=
ALPACA_PAPER_TRADING_ENABLED=true
ALPACA_LIVE_TRADING_ENABLED=false
ALPACA_KEY_ID=
ALPACA_SECRET_KEY=
ALPACA_ACCOUNT_ID=
